body{
	background-image: url("backg.jpg");
	background-repeat: no-repeat;
}

div{
	z-index: 2;
	border-color: green;
	padding-top: 50px;
	border: 10px;
	font-size: 40;
	line-height: 20px;
	color: red;
	font-family: cursive;
}

h2{
	padding-top: 50px;
	align-self: center;
	font-size: 30;
	color: navy;
}

img{
	z-index: -1;
}